*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--cor-fundo: #e9e9e9; 
--cor-texto: #303030;
--cor-sidebar: #a7a7a7;



}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: normal;
}

.sidebar{
    background-color: var(--cor-sidebar);
    position: fixed;
    top: 0;
    left: 0%;
    width: 250px;
    height: 100%;
    padding: 30px;
    display: flex;
    background-color: var(--cor-sidebar);
    flex-direction: column;
    gap: 20px;
}

.sidebar ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar li a{
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 1.1rem;
    transition: 0.3s;
}

.header-conteudo {
  display: flex;
  justify-content: space-between; /* Joga o texto pra esquerda e ícone pra direita */
  align-items: center;
  margin-bottom: 10px;
  max-width: 800px; /* Alinha com a largura dos seus cards */
}

.principal{
    margin-left: 250px;
    padding: 40px;
    width: calc(100% - 250px);
    padding-top: 10px;
}
.principal h1{
    margin-top: 0;
    padding-top: 0;
}
.box{
   background-color: #ffffff;   
  border: 1px solid #e0e0e0;    
  border-radius: 12px;          
  margin-bottom: 25px;
  overflow: hidden;            
  max-width: 800px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.box h3{
    background-color: #ebebeb;    
  margin: 0;                    
  padding: 12px 20px;          
  font-size: 1.1rem;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.box ul{
    padding: 20px;
    list-style: none;
}

.box li{
    margin-bottom: 10px;
    font-size: 1rem;
}

.topbar{
    text-align: center;
}

@media screen and (max-width: 768px) {
 
  .sidebar {
    display: none;
  }

  .principal {
    margin-left: 0;
    padding: 20px;
    width: 100%;
    background-color: #f9f9f9; 
  }

}

.box {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
}

.box h3 {
  background-color: #e9e9e9; 
  padding: 12px 15px;
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.box ul {
  padding: 15px;
  list-style: none;
  margin: 0;
  color: #444;
  line-height: 1.5;
}

.box li {
  margin-bottom: 8px;
}



